<html lang="en">
  
  {{!-- Header --}}
  {{>head}}
<body>

  {{!-- Navbar --}}
  {{>navbar}}

  {{!-- Body --}}
  <div class="container">
   {{{body}}} 
  </div>
  {{!-- body shu holatda yozilmasa faqat main uzi chiqib qoladi --}}

  {{!-- Footer --}}
  {{>footer}}
</body>

</html>